
.container {
    display: flex;
    flex-direction: row;
    background-color: #030202;
    height: 100vh;
    overflow: hidden;
  }
  
  .usuariosContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow-y: auto;
    height: 100%;
    padding-right: 10px;
    gap: 10px;
    scrollbar-width: none;
  }
  
  .usuariosGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .usuarioWrapper {
    display: flex;
    justify-content: center;
  }
  
  .pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .usuariosGrid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }