.feedNavigation {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    height: 100vh;
    background-color: #f0f0f0;
}

.image {
    border-radius: 100%;
    margin: 1rem;
    align-items: flex-start;
}

.navigation {
    padding: 1rem 2rem;
}