.pageContainer {
  display: flex;
  flex-direction: row;
  background-color: #030202;
  height: 100vh;
}

.feedColumn {
  flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
}

.feed {
    padding: 3rem;
    width: 100%;
}

.feed h1 {
  color: #8C52FF;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: #8C52FF;
}

.pagination .ant-pagination .ant-pagination-item-active a {
  background-color: #8C52FF;
  color: white;
}

.pagination .ant-pagination .ant-pagination-item a {
  color: #8C52FF;
}

.pagination .ant-pagination .ant-pagination-item-active {
  border-color: #8C52FF;
}

.pagination .ant-pagination .ant-pagination-item {
  border-color: #8C52FF;
}

.pagination .ant-pagination {
  color: #8C52FF;
}

.noticiasColumn {
  margin-right: 0%;
}
