.pageContainer {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    min-height: 100vh;
}

.navigation {
    flex: 0 0 200px; /* Define a largura fixa para o Navigation */
    background-color: #1B1212; /* Cor de fundo para o Navigation */
    min-height: 100vh; /* Faz o Navigation ocupar toda a altura */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 2rem;
    overflow-y: auto;
}

.headerSection {
    background-color: rgba(160, 32, 240, 0.4);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    margin: 2rem 0;
    color: white;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 260px;
    max-width: 260px;
    flex: 0 0 auto;
}

.cardImage {
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid #A020F0;
}

.card h2 {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
    color: #CCCCCC;
}

.cardInfo {
    background-color: #A020F0;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
    background-color: #000000;
}