.duvidasGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .duvidasWrapper {
    width: calc(50% - 20px);
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .duvidasWrapper {
      width: 100%;
    }
  }
  
  .container {
    display: flex;
    flex-direction: row;
    background-color: #1b1212;
  }
  
  .container h1 {
    color: #8C52FF;
  }
  
  .duvidasContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }